/*Base styles start*/

body {
  width: 100%;
  height: 100%;
}

a, a:hover, a:active, a:focus {
	color: tomato;
}

.text-bold {
	font-weight: bold;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.popover,
.popover .bar-nav {
	border-radius: 0;
}

.bar-footer-secondary {
	border: none;
}

.bar-footer-secondary .btn{
	background-color: tomato;
	color: #fff;
}

/*Base styles end*/

/*Slider start*/

.peppermint figure {
	text-align: center;
	overflow: hidden;
}

.peppermint-dots {
	position: absolute;
	right: 15px;
	bottom: 0;
}

.peppermint-dots li {
	display: inline-block;
	vertical-align: middle;
	height: 5px;
	width: 5px;
	background: white;
	margin: 0 5px;
	border-radius: 50%;
}

.peppermint-dots li.peppermint-active-dot {
	background: tomato;
}

/*Slider end*/

/*Slideout menu start*/

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}
/*Slideout menu end*/

.content-app .segmented-control {
	border: none;

}

.content-app .segmented-control .control-item {
	background-color: transparent;
	font-size: 17px;
	margin: -1px 0;
	border-bottom: 1px solid tomato;
	border-left: none;
	font-weight: 500;
}

.content-app .segmented-control .control-item.active {
	color: tomato;
	border-bottom: 3px solid tomato;
}


.app-tabs-content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.app-tabs-content li{
	width: 33.333333%;
	height: 109px;
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.app-tabs-content li:nth-child(3n) {
	border-right: none;
}

.app-tabs-content li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
	padding-top: 20px;
	font-size: 12px;
}

.cart-shop {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-top: -14px;
}

.cart-shop__name,
.cart-table__name {
	font-size: 15px;
	margin-bottom: 0;
}

.cart-shop__tags {
	font-size: 12px;
}

.cart-shop__logo {
	float: right;
}



.cart-table__price--old {
	font-size: 12px;
	text-decoration: line-through;
	font-weight: bold;
}

.cart-table__price--new{
	font-size: 15px;
	color: green;
}

.cart-table {
	display: flex;
	height: 120px;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
	position: relative;
}

.cart-table__stock {
	position: absolute;
	top: 0;
	right: -10px;
	padding: 0 10px;
	color: #fff;
	background: tomato;
	font-size: 12px;
}

.cart-table__row:nth-child(2) {
	flex: 2;
	padding: 0 10px 0 20px;
}

.cart-table__row:nth-child(3) {
	align-self: flex-end
}

.cart-table__name {
	font-weight: bold;
}

.cart-table__desc {
	font-size: 12px;
}

.cart-table-counter {
	margin-top: 15px;
	display: flex;
}

.cart-table-counter__cell,
.cart-table-counter__value {
	color: tomato;
	font-size: 30px;
	border: 0.5px solid #ddd;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	cursor: pointer;
	user-select: none;
}
.cart-table-counter__value {
	font-size: 17px;
	color: black;
	cursor: none;
}

.cart-table-mid {
	display: table;
	table-layout: fixed;
	width: 100%;
	font-size: 14px;
}

.cart-table-mid__row {
	display: table-row;
}

.cart-table-mid__cell {
	display: table-cell;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.cart-table-mid__cell:last-child {
	text-align: right;
}

.cart-table-mid--value {
	font-size: 20px;
	color: tomato;
}